<!DOCTYPE html>
<html>
    <head>
        <title>Shotgenerator</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="/javascripts/Funktionen.js"></script>
    </head>
    <body>

        <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
        </header>
        {{{body}}}

        
    </body>
</html>