<head>
        <meta charset="utf-8">
        <title>Prototype</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        
    </head>
    <body style="background-color:lavender">
        <main>
            <h1>Einscannen der Alkoholsorten</h1>
            <br>
            <p>Für den Start des Generators müssen die Etiketten eingescannt werden. Dafür den Button betätigen und das Etikett vor die Kamera halten.</p>
            <p>Wenn alle Getränke eingescannt wurden, einfach den "Shot generieren"-Button betätigen und das angezeigte Getränk trinken.</p>
            <br>
            
        <div id="anzeige">
           <p>Bereits gescannte Getränke:</p> <br>
           <br>
           <div id="ean_code"></div>
           <a id="msg"></a>
           
            <center><div id="n1" class="scanbox" ></div></center>
            <center><div id="n2" class="scanbox" ></div></center>
            <center><div id="n3" class="scanbox" ></div></center>
            <center><div id="n4" class="scanbox" ></div></center>
            <center><div id="n5" class="scanbox" ></div></center>
            <center><div id="n6" class="scanbox" ></div></center>
            <center><div id="n7" class="scanbox" ></div></center>
            <center><div id="n8" class="scanbox" ></div></center>
            <center><div id="n9" class="scanbox" ></div></center>
            <center><div id="n10" class="scanbox" ></div></center>

        </div>    
           
        
        <label for="Getraenkname" id="Getraenkl" class="manuell">Getränkname: </label>
	        <input type="text" id="Getraenk" name="Getraenk" class="manuell">
            <br>
        <label for="Volume" id="Volumel"class="manuell">Alkoholgehalt (Vol.): </label>
	            <input type="text" id="Volume" name="Volume" class="manuell">
            <br>
        <label for="EAN" id='EANL' class="manuell">EAN-Nummer: </label>
	        <input type="text" id="EAN" name="EAN" class="manuell">       

        
        <div id="barcode-scanner" class="viewport"></div>        
                
        <a class="scanbutton" id="start_scan" onclick="start_scan()">Scannen starten</a>
        <a class="blauerpushbutton" id="manuellesuche" onclick="dbabfrage()">manuelle Suche</a>
        <a class="blauerpushbutton" id="generieren" onclick="random()">Shot generieren</a>
        <a class="blauerpushbutton" id="eintragen" onclick="dbeintrag()">In Datenbank eintragen</a>

        <br><br><br><br><br><br><br>
             <p><center><a class="Beenden" id="beenden" href="/">Beenden</a></center></p>
            
            

   </main>
    </body>
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/quagga.js"></script>
    <script src="/javascripts/scaner.js"></script>
   
