<body style="background-color:lavender">
    
        <h1>Willkommen bei dem Shotgenerator!</h1>
    <br>
        <div>
        <img src="/images/Shots.jpg" width="800" height ="400">
    
       <br><br>
        <p>Bei diesem Generator könnt ihr erst eure Getränke einscannen oder eingeben und euch dann verschiedene Shots anzeigen lassen.</p>
        <p>Mit einem Klick auf den Button könnt ihr anfangen.</p>
            <center><a class="startbutton" href="/scan" id="berechnen">Spiel starten</a></center>
      </body>  