*{margin: 0;}

h1 { font:bold; text-align: center }
p { text-align: center;
    font-size: 170%;
        }
/*header {background-color: #008000}*/


div {
display: block;
width:100%;
text-align: center;
}

#anzeige {
    display: block;
    width:100%;
    text-align: center;
    position: center;
    }
.scanbox{
    display: none;
    /*position: absolute;*/
    width: 150px; 
    border-style: solid; 
    border-color: black; 
    border-radius: 10px;
    text-align: center;
    left: 44%;
    font-size: 140%;
    
}

#ean_code { 
   display: none;
    position: absolute;
    width: 150px; 
    border-style: solid; 
    border-color: black; 
    border-radius: 10px;
    text-align: center;
    left: 44%;
}


/*Erzeugt einen blauen Button, der sich runterdrücken lässt*/

.btn-push {
  position: relative;
  top: 0px;
  font-family: "Open Sans";
  text-decoration: none;
  font-size: 25px;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 0 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Active State  ==========*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
#eintragen{
    float: left;
    margin-right: 0%;
    padding: 10px;
   position: relative;
}


#manuellesuche{
    float: right;
    margin-right: 14%;
    padding: 10px;
   position: relative; 
}
#generieren{
float: left;
     margin-right: 0%;
     padding: 10px;
    position: relative;
}
.blauerpushbutton {
    background: #1b486d;
      border: 1px solid #07121b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 5px 0px #07121b;
      -moz-box-shadow: 0px 5px 0px #07121b;
      -ms-box-shadow: 0px 5px 0px #07121b;
      -o-box-shadow: 0px 5px 0px #07121b;
      box-shadow: 0px 5px 0px #07121b;
      color: #fff;
      text-shadow: 1px 1px 1px #07121b;
    float: left;
     margin-right: 0%;
     padding: 10px;
    position: relative;
    font-size: 140%;
    display: none;
        
    }

.scanbutton {
   background: #1b486d;
      border: 1px solid #07121b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 5px 0px #07121b;
      -moz-box-shadow: 0px 5px 0px #07121b;
      -ms-box-shadow: 0px 5px 0px #07121b;
      -o-box-shadow: 0px 5px 0px #07121b;
      box-shadow: 0px 5px 0px #07121b;
      color: #fff;
      text-shadow: 1px 1px 1px #07121b;
    float: left;
     margin-right: 2%;
     padding: 10px;
    left: 43.6%;
    right:50%;
    position: relative;
    font-size: 140%;
    display: block;}

.Beenden {
   background: #1b486d;
      border: 1px solid #07121b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 5px 0px #07121b;
      -moz-box-shadow: 0px 5px 0px #07121b;
      -ms-box-shadow: 0px 5px 0px #07121b;
      -o-box-shadow: 0px 5px 0px #07121b;
      box-shadow: 0px 5px 0px #07121b;
      color: #fff;
      text-shadow: 1px 1px 1px #07121b;
    float: right;
     margin-right: 2%;
     padding: 10px;
    position: relative;
    font-size: 140%;
    display: block;
    text-decoration: none;
    }

.startbutton {
    background: #1b486d;
      border: 1px solid #07121b;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 5px 0px #07121b;
      -moz-box-shadow: 0px 5px 0px #07121b;
      -ms-box-shadow: 0px 5px 0px #07121b;
      -o-box-shadow: 0px 5px 0px #07121b;
      box-shadow: 0px 5px 0px #07121b;
      color: #fff;
      text-shadow: 1px 1px 1px #07121b;
    float: left;
     margin-right: 2%;
     padding: 10px;
    left: 45%;
    right:50%;
    position: relative;
    font-size: 100%;
    display: block;
     text-decoration: none;
    }

.text{
    display: none;
}

.manuell {
    display: none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #1b486d;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

